#outerborder {
  border: 2px solid grey;
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: lightgray;
}
#title {
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  /* font-size: xx-large; */
  padding: 20px;
}
/* #loginform {
} */
.userinput {
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  width: 70%;
}
.loginbutton {
  margin: 10px;
  width: 70%;
  border-radius: 5px;
}
.forgetPassword {
  text-decoration: none;
  color: black;
}
